.message {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 14px;
  text-align: left;
  border-radius: 10px;
  //   line-height: 145%;
  &--success {
    background: rgb(39 243 117 / 20%);
    border: 1px solid #165826;
  }
}
